
@{
    ViewBag.Title = "My Goals";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-10">
        <table style="width: 100%" border: 1px solid black>
            <tr>
                <th>Goal Name</th>
                <th>Goal Amount</th>
                <th>Goal Period</th>
            </tr>
            <tr>
                <th>New Car</th>
                <th>$25,000</th>
                <th>3 years</th>
            </tr>
            <tr>
                <th>Student Loan Payoff</th>
                <th>$30,000</th>
                <th>6 years</th>
            </tr>
        </table>
    </div>
</div>

