
@{
    ViewBag.Title = "My Goals";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-10">
        <table style="width: 100%">
            <tr>
                <th>Goal Name</th>
                <th>Goal Amount</th>
                <th>Goal Period</th>
            </tr>
            <tr>
                <td>New Car</td>
                <td>$25,000</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Student Loan Payoff</td>
                <td>$30,000</td>
                <td>6 years</td>
            </tr>
        </table>
    </div>
</div>

